*{
    font-family: 'Livvic', sans-serif;
    font-size: 20px;
}
.logo-image{
    width: 150px;
    height: 50px;
    margin-left: 100px;
    margin-top: 12px;
}


.layout-style {

}
.layout-nav-bar{
    margin-left: 40px;
}
.footer-control{
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
     width: 100%;
    background-color: #2ea3f2;
    color: white;
    margin: 0;
}
.footer-control .col-3 ul li a{
    color: white;

}
.footer-control ul{
    list-style: none;
    margin-top: 20px;
}
.footer-control .footer-detail h2{
    margin-left: 38px;
}
.footer-control .footer-detail{
    padding-left: 46px;
}
.copyright-footer-text{
    text-align: center;
}
.copyright-footer{
    width: 100%;
}
.layout-header{
    padding-top: 20px;
}
.layout-nav-bar{
    margin-left: 50px;
}

.pt-img-banner{
    width: 100%;
}

.list-pt-title{
    color: #0072ff;
}

.pt-item-title{
    color: #0072ff;
}
.pt-img{
    border-radius: 10%;
}

.pt-service{
    text-decoration: none;
}

.pt-name{
    text-decoration: none;
}
.rate {
    float: left;
    height: 46px;
    padding-right: 90px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
