*{
    font-family: 'Livvic', sans-serif;
    font-size: 20px;
}

.pt-content{
    background: white;
}
.logo-image{
    width: 150px;
    height: 50px;
    margin-left: 100px;
}
.layout-header{
    padding-top: 20px;
}
.layout-nav-bar{
    margin-left: 50px;
}

.pt-img-banner{
    width: 100%;
}

.list-pt-title{
    color: #0072ff;
}

.pt-item-title{
    padding-left: 130px;
}
.pt-img{
    border-radius: 10%;
}

.pt-service{
    text-decoration: none !important;
    color: black;

}
.pt-service:hover{
    color: #0072ff;
}
.pt-name{
    text-decoration: none !important;
    color: black;
}

.pt-name:hover{
    color: #0072ff;
}
.pt-cate{
    text-decoration: none !important;
    color: black;
    font-weight: bold;
}
.pt-cate:hover{
    color: #0072ff;
}

.list-cate{
}
.rate {
    height: 46px;
    padding-right: 100px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.banner{
    padding-left: 400px;
}

.img-responsive{
    width: 100%;
    height: auto;
    padding-top: 50px;
}
.text-register{
    font-weight: 700!important;
    font-size: 34px!important;
}
.detail{
    color: #0072ff;
}


